notes/
v0_01/
v0_020/
v0_021_backup/
v1_00/
v2_00_base/
v2_01_stable_clean_backup/
v2_02_playground/
v2_02_PrePlayground_Backup/
v3_07_Toggles_Testing/
v3_09_Huge_WIndow_Blit_Order_But_Before_Scroll_Comment_Heavy/
v3_11_Before_Further_Abstraction/
v3_12_Kinda_Pre_Cleanup/
v3_15_Before_Huge_Visual_Update_Plus_Clean_Up/
inspo/
